APP_NAME=Personal Knowledge RAG Assistant
APP_ENV=development

EMBEDDING_PROVIDER=local
LOCAL_EMBEDDING_MODEL=D:\AI创业\AI模型\embedding-models\BAAI\bge-small-zh-v1.5
HF_HOME=D:\AI创业\AI模型\huggingface
SENTENCE_TRANSFORMERS_HOME=D:\AI创业\AI模型\huggingface\sentence-transformers

# LLM 配置项
LLM_PROVIDER=fake
# OLLAMA_LLM
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen2.5:3b

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
